---
import MainLayout from "../layout/mainLayout.astro";
import peofilePhoto from "../images/profile-pic.png";
import { Image } from "@astrojs/image/components";
import "../CSS/index.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I'm Aiaman and i'm self-taught 14-year-old web developer with some impressive skills."
    />
    <link
      rel="shortcut icon"
      href="../../public/favicon.ico"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aiaman ~ quietpulse</title>
  </head>
  <body>
    <MainLayout>
      <header>
        <div id="header-left">
          <div>
            <h1 class="hidden">
              Hay 👋,<br /> I'm <span class="purple">aiaman</span>.
            </h1>
            <p class="hidden">
              A random programmer roaming the internet. Let's code something
              awesome together! ✨
            </p>
          </div>
          <div id="buttons" class="hidden">
            <button><a href="#contact-main">Get in touch!</a></button>
            <button><a href="#about-main">About me</a></button>
          </div>
        </div>
        <div></div>
      </header>
      <section id="projects-main">
        <div id="project-top" class="hidden">
          <h1>
            Some Projects
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              ><g data-name="Layer 2"
                ><g data-name="arrow-forward"
                  ><rect
                    width="10"
                    height="10"
                    transform="rotate(-90 12 12)"
                    opacity="0"></rect><path
                    d="M5 13h11.86l-3.63 4.36a1 1 0 0 0 1.54 1.28l5-6a1.19 1.19 0 0 0 .09-.15c0-.05.05-.08.07-.13A1 1 0 0 0 20 12a1 1 0 0 0-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 0 0-.09-.15l-5-6A1 1 0 0 0 14 5a1 1 0 0 0-.64.23 1 1 0 0 0-.13 1.41L16.86 11H5a1 1 0 0 0 0 2z"
                  ></path></g
                ></g
              ></svg
            >
          </h1>
          <a
            href="https://github.com/quietpulse?tab=repositories"
            target="_blank"
            class="red text-decoration-none"
            ><span class="red">Load more!</span></a
          >
        </div>
        <div id="projects">
          <a
            href="https://github.com/quietpulse/cppProjects/blob/main/tictacto.cpp"
            class="card"
            target="_blank"
            class="hidden"
          >
            <svg
              class="hidden"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="306px"
              height="344.35px"
              viewBox="0 0 306 344.35"
              enable-background="new 0 0 306 344.35"
              xml:space="preserve"
            >
              <path
                fill="#00599C"
                d="M302.107,258.262c2.401-4.159,3.893-8.845,3.893-13.053V99.14c0-4.208-1.49-8.893-3.892-13.052L153,172.175
           L302.107,258.262z"
              ></path>
              <path
                fill="#004482"
                d="M166.25,341.193l126.5-73.034c3.644-2.104,6.956-5.737,9.357-9.897L153,172.175L3.893,258.263
           c2.401,4.159,5.714,7.793,9.357,9.896l126.5,73.034C147.037,345.401,158.963,345.401,166.25,341.193z"
              ></path>
              <path
                fill="#659AD2"
                d="M302.108,86.087c-2.402-4.16-5.715-7.793-9.358-9.897L166.25,3.156c-7.287-4.208-19.213-4.208-26.5,0
           L13.25,76.19C5.962,80.397,0,90.725,0,99.14v146.069c0,4.208,1.491,8.894,3.893,13.053L153,172.175L302.108,86.087z"
              ></path>
              <g>
                <path
                  fill="#FFFFFF"
                  d="M153,274.175c-56.243,0-102-45.757-102-102s45.757-102,102-102c36.292,0,70.139,19.53,88.331,50.968
             l-44.143,25.544c-9.105-15.736-26.038-25.512-44.188-25.512c-28.122,0-51,22.878-51,51c0,28.121,22.878,51,51,51
             c18.152,0,35.085-9.776,44.191-25.515l44.143,25.543C223.142,254.644,189.294,274.175,153,274.175z"
                ></path>
              </g>
              <g>
                <polygon
                  fill="#FFFFFF"
                  points="255,166.508 243.666,166.508 243.666,155.175 232.334,155.175 232.334,166.508 221,166.508 
             221,177.841 232.334,177.841 232.334,189.175 243.666,189.175 243.666,177.841 255,177.841 	"
                ></polygon>
              </g>
              <g>
                <polygon
                  fill="#FFFFFF"
                  points="297.5,166.508 286.166,166.508 286.166,155.175 274.834,155.175 274.834,166.508 263.5,166.508 
             263.5,177.841 274.834,177.841 274.834,189.175 286.166,189.175 286.166,177.841 297.5,177.841 	"
                ></polygon>
              </g>
            </svg>
            <div id="card-main" class="hidden">
              <h2>Tic Tac Toe</h2>
              <p>
                C++ CLI based Tic-Tac-Toe application with full functionality.
              </p>
            </div>
          </a>
          <a
            href="https://github.com/quietpulse/todo-hcj"
            class="card"
            target="_blank"
            class="hidden"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="hidden">
              <title>HTML5 Logo Badge</title>
              <path fill="#E34F26" d="M71,460 L30,0 481,0 440,460 255,512"
              ></path>
              <path fill="#EF652A" d="M256,472 L405,431 440,37 256,37"></path>
              <path
                fill="#EBEBEB"
                d="M256,208 L181,208 176,150 256,150 256,94 255,94 114,94 115,109 129,265 256,265zM256,355 L255,355 192,338 188,293 158,293 132,293 139,382 255,414 256,414z"
              ></path>
              <path
                fill="#FFF"
                d="M255,208 L255,265 325,265 318,338 255,355 255,414 371,382 372,372 385,223 387,208 371,208zM255,94 L255,129 255,150 255,150 392,150 392,150 392,150 393,138 396,109 397,94z"
              ></path>
            </svg>
            <div id="card-main" class="hidden">
              <h2>ToDo</h2>
              <p>
                A Usefull and Powerful ToDo app in vanilla HTML CSS JavaScript.
              </p>
            </div>
          </a>
          <a
            href="https://github.com/quietpulse/numberGuessingG"
            class="card"
            target="_blank"
            class="hidden"
          >
            <svg viewBox="0 0 128 128" class="hidden">
              <path
                fill="#659AD3"
                d="M115.4 30.7L67.1 2.9c-.8-.5-1.9-.7-3.1-.7-1.2 0-2.3.3-3.1.7l-48 27.9c-1.7 1-2.9 3.5-2.9 5.4v55.7c0 1.1.2 2.4 1 3.5l106.8-62c-.6-1.2-1.5-2.1-2.4-2.7z"
              ></path><path
                fill="#03599C"
                d="M10.7 95.3c.5.8 1.2 1.5 1.9 1.9l48.2 27.9c.8.5 1.9.7 3.1.7 1.2 0 2.3-.3 3.1-.7l48-27.9c1.7-1 2.9-3.5 2.9-5.4V36.1c0-.9-.1-1.9-.6-2.8l-106.6 62z"
              ></path><path
                fill="#fff"
                d="M85.3 76.1C81.1 83.5 73.1 88.5 64 88.5c-13.5 0-24.5-11-24.5-24.5s11-24.5 24.5-24.5c9.1 0 17.1 5 21.3 12.5l13-7.5c-6.8-11.9-19.6-20-34.3-20-21.8 0-39.5 17.7-39.5 39.5s17.7 39.5 39.5 39.5c14.6 0 27.4-8 34.2-19.8l-12.9-7.6z"
              ></path>
            </svg>
            <div id="card-main" class="hidden">
              <h2>Number Guessing Game</h2>
              <p>A simple and easy Number Guessing Game 🎮 made in C Language</p>
            </div>
          </a>
        </div>
      </section>
      <section id="about-main">
        <div id="about">
          <div id="main-pic" class="hidden">
            <Image src={peofilePhoto} alt="aman profile pic"/>
            <div id="box-shadow"></div>
            <div id="box-shadow2"></div>
          </div>
          <div id="about-text" class="hidden">
            <h2><span class="purple" class="hidden">About Me</span></h2>
            <p class="hidden" id="about-main-text">
              <h3>Hey there, I'm Aman!</br></h3>
              I don't just write code;</> I <b>craft digital solutions</b>. Each challenge is a puzzle 🧩 to crack, and every line a brushstroke building a <b>masterpiece of functionality</b>. 🚀
            </p>
            <p>
              You can see some of my <b>skills</b> 🎓 by checking out 
              <a href="https://github.com/quietpulse?tab=repositories" id="my-link" target="_blank">My Projects.</a>
            </p>
          </div>
        </div>
      </section>
      <section id="skills-main">
        <h2 class="hidden">Tools that i like! 🙂</h2>
        <div id="skills">
          <a href="https://code.visualstudio.com/" target="_blank" id="tools-link">
          <svg
            class="hidden"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>VS Code</title>
            </mask>
            <g mask="url(#mask0)">
              <path
                d="M96.4614 10.7962L75.8569 0.875542C73.4719 -0.272773 70.6217 0.211611 68.75 2.08333L1.29858 63.5832C-0.515693 65.2373 -0.513607 68.0937 1.30308 69.7452L6.81272 74.754C8.29793 76.1042 10.5347 76.2036 12.1338 74.9905L93.3609 13.3699C96.086 11.3026 100 13.2462 100 16.6667V16.4275C100 14.0265 98.6246 11.8378 96.4614 10.7962Z"
                fill="#0065A9"></path>
              <g filter="url(#filter0_d)">
                <path
                  d="M96.4614 89.2038L75.8569 99.1245C73.4719 100.273 70.6217 99.7884 68.75 97.9167L1.29858 36.4169C-0.515693 34.7627 -0.513607 31.9063 1.30308 30.2548L6.81272 25.246C8.29793 23.8958 10.5347 23.7964 12.1338 25.0095L93.3609 86.6301C96.086 88.6974 100 86.7538 100 83.3334V83.5726C100 85.9735 98.6246 88.1622 96.4614 89.2038Z"
                  fill="#007ACC"></path>
              </g>
              <g filter="url(#filter1_d)">
                <path
                  d="M75.8578 99.1263C73.4721 100.274 70.6219 99.7885 68.75 97.9166C71.0564 100.223 75 98.5895 75 95.3278V4.67213C75 1.41039 71.0564 -0.223106 68.75 2.08329C70.6219 0.211402 73.4721 -0.273666 75.8578 0.873633L96.4587 10.7807C98.6234 11.8217 100 14.0112 100 16.4132V83.5871C100 85.9891 98.6234 88.1786 96.4586 89.2196L75.8578 99.1263Z"
                  fill="#1F9CF0"></path>
              </g>
            </g>
          </svg>
        </a>
        <a href="https://react.dev/" target="_blank" id="tools-link">
          <svg
          class="hidden"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="-11.5 -10.23174 23 20.46348"
          >
            <title>React</title>
            <circle cx="0" cy="0" r="2.05" fill="#61dafb"></circle>
            <g stroke="#61dafb" stroke-width="1" fill="none">
              <ellipse rx="11" ry="4.2"></ellipse>
              <ellipse rx="11" ry="4.2" transform="rotate(60)"></ellipse>
              <ellipse rx="11" ry="4.2" transform="rotate(120)"></ellipse>
            </g>
          </svg>
        </a>
        <a href="https://tailwindcss.com/" target="_blank" id="tools-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 54 33"
            class="hidden"
          >
            <title>Tailwind</title>
            <g clip-path="url(#prefix__clip0)"
              ><path
                fill="#38bdf8"
                fill-rule="evenodd"
                d="M27 0c-7.2 0-11.7 3.6-13.5 10.8 2.7-3.6 5.85-4.95 9.45-4.05 2.054.513 3.522 2.004 5.147 3.653C30.744 13.09 33.808 16.2 40.5 16.2c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C36.756 3.11 33.692 0 27 0zM13.5 16.2C6.3 16.2 1.8 19.8 0 27c2.7-3.6 5.85-4.95 9.45-4.05 2.054.514 3.522 2.004 5.147 3.653C17.244 29.29 20.308 32.4 27 32.4c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C23.256 19.31 20.192 16.2 13.5 16.2z"
                clip-rule="evenodd"></path></g
            ><defs
              ><clipPath id="prefix__clip0"
                ><path fill="#fff" d="M0 0h54v32.4H0z"></path></clipPath
              ></defs
            ></svg
          >
        </a>
        <a href="https://astro.build/" target="_blank" id="tools-link">
          <svg
          class="hidden"
            width="256px"
            height="366px"
            viewBox="0 0 256 366"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            preserveAspectRatio="xMidYMid"
          >
            <title>Astro</title>
            <g>
              <path
                d="M182.021899,9.14729513 C185.003554,12.8489818 186.524039,17.8439599 189.565008,27.8338751 L256,246.07324 C231.437035,233.330949 204.734675,224.140955 176.574007,219.182711 L133.318122,73.008385 C132.610445,70.6165977 130.413371,68.9758488 127.919318,68.9758488 C125.41872,68.9758488 123.217965,70.625188 122.515605,73.0251566 L79.7837287,219.10908 C51.4921611,224.044826 24.6679819,233.251591 0,246.040106 L66.760821,27.7833559 C69.8111986,17.8106213 71.336592,12.8241926 74.3186562,9.1293373 C76.9509722,5.86739262 80.3752328,3.334082 84.2645972,1.77078902 C88.6701983,0 93.8845156,0 104.313559,0 L151.997135,0 C162.439677,0 167.660949,0 172.07064,1.77448285 C175.963277,3.34101561 179.389583,5.87945996 182.021899,9.14729513 Z"
                fill="#fff"></path>
              <path
                d="M189.971616,256.459332 C179.019791,265.824405 157.15991,272.211095 131.980489,272.211095 C101.075831,272.211095 75.1731874,262.589949 68.2997134,249.65049 C65.8424761,257.066381 65.2914691,265.553606 65.2914691,270.975318 C65.2914691,270.975318 63.6724005,297.597911 82.1890151,316.114934 C82.1890151,306.499925 89.9836974,298.705652 99.598298,298.705652 C116.078191,298.705652 116.059783,313.083374 116.044648,324.748195 C116.044239,325.097534 116.04383,325.444828 116.04383,325.789258 C116.04383,343.494293 126.864755,358.671732 142.253679,365.069057 C139.955158,360.341524 138.665794,355.032714 138.665794,349.422424 C138.665794,332.536332 148.579419,326.249044 160.101068,318.941555 C169.268154,313.127552 179.453806,306.668049 186.473315,293.709774 C190.13565,286.948792 192.215323,279.204833 192.215323,270.975318 C192.215323,265.914399 191.429105,261.037149 189.971616,256.459332 Z"
                fill="#FF5D01"></path>
            </g>
          </svg>
        </a>
          <svg viewBox="0 0 128 128" class="hidden">
            <title>Bash</title>
            <path fill="none" d="M-143.76 4.24h119.53v119.53h-119.53z"
            ></path><path
              fill="#fff"
              d="M109.01 28.64L71.28 6.24c-2.25-1.33-4.77-2-7.28-2s-5.03.67-7.28 2.01l-37.74 22.4c-4.5 2.67-7.28 7.61-7.28 12.96v44.8c0 5.35 2.77 10.29 7.28 12.96l37.73 22.4c2.25 1.34 4.76 2 7.28 2 2.51 0 5.03-.67 7.28-2l37.74-22.4c4.5-2.67 7.28-7.62 7.28-12.96V41.6c0-5.34-2.77-10.29-7.28-12.96zM79.79 98.59l.06 3.22c0 .39-.25.83-.55.99l-1.91 1.1c-.3.15-.56-.03-.56-.42l-.03-3.17c-1.63.68-3.29.84-4.34.42-.2-.08-.29-.37-.21-.71l.69-2.91c.06-.23.18-.46.34-.6.06-.06.12-.1.18-.13.11-.06.22-.07.31-.03 1.14.38 2.59.2 3.99-.5 1.78-.9 2.97-2.72 2.95-4.52-.02-1.64-.9-2.31-3.05-2.33-2.74.01-5.3-.53-5.34-4.57-.03-3.32 1.69-6.78 4.43-8.96l-.03-3.25c0-.4.24-.84.55-1l1.85-1.18c.3-.15.56.04.56.43l.03 3.25c1.36-.54 2.54-.69 3.61-.44.23.06.34.38.24.75l-.72 2.88c-.06.22-.18.44-.33.58a.77.77 0 01-.19.14c-.1.05-.19.06-.28.05-.49-.11-1.65-.36-3.48.56-1.92.97-2.59 2.64-2.58 3.88.02 1.48.77 1.93 3.39 1.97 3.49.06 4.99 1.58 5.03 5.09.05 3.44-1.79 7.15-4.61 9.41zm19.78-5.41c0 .3-.04.58-.29.72l-9.54 5.8c-.25.15-.45.02-.45-.28v-2.46c0-.3.18-.46.43-.61l9.4-5.62c.25-.15.45-.02.45.28v2.17zm6.56-55.09l-35.7 22.05c-4.45 2.6-7.73 5.52-7.74 10.89v43.99c0 3.21 1.3 5.29 3.29 5.9-.65.11-1.32.19-1.98.19-2.09 0-4.15-.57-5.96-1.64l-37.73-22.4c-3.69-2.19-5.98-6.28-5.98-10.67V41.6c0-4.39 2.29-8.48 5.98-10.67l37.74-22.4c1.81-1.07 3.87-1.64 5.96-1.64s4.15.57 5.96 1.64l37.74 22.4c3.11 1.85 5.21 5.04 5.8 8.63-1.27-2.67-4.09-3.39-7.38-1.47z"
            ></path>
          </svg>
        </a>
        <a href="https://git-scm.com/" target="_blank" id="tools-link">
          <svg viewBox="0 0 128 128" class="hidden">
            <title>Git</title>
            <path
              fill="#F34F29"
              d="M124.737 58.378L69.621 3.264c-3.172-3.174-8.32-3.174-11.497 0L46.68 14.71l14.518 14.518c3.375-1.139 7.243-.375 9.932 2.314 2.703 2.706 3.461 6.607 2.294 9.993l13.992 13.993c3.385-1.167 7.292-.413 9.994 2.295 3.78 3.777 3.78 9.9 0 13.679a9.673 9.673 0 01-13.683 0 9.677 9.677 0 01-2.105-10.521L68.574 47.933l-.002 34.341a9.708 9.708 0 012.559 1.828c3.778 3.777 3.778 9.898 0 13.683-3.779 3.777-9.904 3.777-13.679 0-3.778-3.784-3.778-9.905 0-13.683a9.65 9.65 0 013.167-2.11V47.333a9.581 9.581 0 01-3.167-2.111c-2.862-2.86-3.551-7.06-2.083-10.576L41.056 20.333 3.264 58.123a8.133 8.133 0 000 11.5l55.117 55.114c3.174 3.174 8.32 3.174 11.499 0l54.858-54.858a8.135 8.135 0 00-.001-11.501z"
            ></path>
          </svg>
        </a>
        <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" id="tools-link">
          <svg viewBox="0 0 128 128" class="hidden">
            <title>JavaScript</title>
            <path fill="#F0DB4F" d="M1.408 1.408h125.184v125.185H1.408z"
            ></path><path
              fill="#323330"
              d="M116.347 96.736c-.917-5.711-4.641-10.508-15.672-14.981-3.832-1.761-8.104-3.022-9.377-5.926-.452-1.69-.512-2.642-.226-3.665.821-3.32 4.784-4.355 7.925-3.403 2.023.678 3.938 2.237 5.093 4.724 5.402-3.498 5.391-3.475 9.163-5.879-1.381-2.141-2.118-3.129-3.022-4.045-3.249-3.629-7.676-5.498-14.756-5.355l-3.688.477c-3.534.893-6.902 2.748-8.877 5.235-5.926 6.724-4.236 18.492 2.975 23.335 7.104 5.332 17.54 6.545 18.873 11.531 1.297 6.104-4.486 8.08-10.234 7.378-4.236-.881-6.592-3.034-9.139-6.949-4.688 2.713-4.688 2.713-9.508 5.485 1.143 2.499 2.344 3.63 4.26 5.795 9.068 9.198 31.76 8.746 35.83-5.176.165-.478 1.261-3.666.38-8.581zM69.462 58.943H57.753l-.048 30.272c0 6.438.333 12.34-.714 14.149-1.713 3.558-6.152 3.117-8.175 2.427-2.059-1.012-3.106-2.451-4.319-4.485-.333-.584-.583-1.036-.667-1.071l-9.52 5.83c1.583 3.249 3.915 6.069 6.902 7.901 4.462 2.678 10.459 3.499 16.731 2.059 4.082-1.189 7.604-3.652 9.448-7.401 2.666-4.915 2.094-10.864 2.07-17.444.06-10.735.001-21.468.001-32.237z"
            ></path>
          </svg>
        </a>
        <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank" id="tools-link">
          <svg
          version="1.1"
          class="hidden"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="306px"
          height="344.35px"
          viewBox="0 0 306 344.35"
          enable-background="new 0 0 306 344.35"
          xml:space="preserve"
        >
        <title>C++ / C</title>
          <path
            fill="#00599C"
            d="M302.107,258.262c2.401-4.159,3.893-8.845,3.893-13.053V99.14c0-4.208-1.49-8.893-3.892-13.052L153,172.175
       L302.107,258.262z"
          ></path>
          <path
            fill="#004482"
            d="M166.25,341.193l126.5-73.034c3.644-2.104,6.956-5.737,9.357-9.897L153,172.175L3.893,258.263
       c2.401,4.159,5.714,7.793,9.357,9.896l126.5,73.034C147.037,345.401,158.963,345.401,166.25,341.193z"
          ></path>
          <path
            fill="#659AD2"
            d="M302.108,86.087c-2.402-4.16-5.715-7.793-9.358-9.897L166.25,3.156c-7.287-4.208-19.213-4.208-26.5,0
       L13.25,76.19C5.962,80.397,0,90.725,0,99.14v146.069c0,4.208,1.491,8.894,3.893,13.053L153,172.175L302.108,86.087z"
          ></path>
          <g>
            <path
              fill="#FFFFFF"
              d="M153,274.175c-56.243,0-102-45.757-102-102s45.757-102,102-102c36.292,0,70.139,19.53,88.331,50.968
         l-44.143,25.544c-9.105-15.736-26.038-25.512-44.188-25.512c-28.122,0-51,22.878-51,51c0,28.121,22.878,51,51,51
         c18.152,0,35.085-9.776,44.191-25.515l44.143,25.543C223.142,254.644,189.294,274.175,153,274.175z"
            ></path>
          </g>
          <g>
            <polygon
              fill="#FFFFFF"
              points="255,166.508 243.666,166.508 243.666,155.175 232.334,155.175 232.334,166.508 221,166.508 
         221,177.841 232.334,177.841 232.334,189.175 243.666,189.175 243.666,177.841 255,177.841 	"
            ></polygon>
          </g>
          <g>
            <polygon
              fill="#FFFFFF"
              points="297.5,166.508 286.166,166.508 286.166,155.175 274.834,155.175 274.834,166.508 263.5,166.508 
         263.5,177.841 274.834,177.841 274.834,189.175 286.166,189.175 286.166,177.841 297.5,177.841 	"
            ></polygon>
          </g>
        </svg>
      </a>
        </div>
      </section>
      <section id="contact-main">
        <h3 class="hidden">Contact Form 📌</h3>
        <div class="container">
          <label for="fname" class="hidden">Subjact</label>
          <input
            type="text"
            class="hidden"
            id="subject"
            name="subject"
            placeholder="Subject here."
          />

          <label for="lname" class="hidden">Your Email</label>
          <input
          class="hidden"
            type="text"
            id="email"
            name="lastname"
            placeholder="exampal@xyz.com"
          />

          <label for="subject" class="hidden">Message</label>
          <textarea
          class="hidden"
            id="message"
            name="subject"
            placeholder="Write your massage hear!"
            style="height:200px"></textarea>

          <input type="submit" id="submit" value="Submit" class="hidden"/>
        </div>
      </section>
    </MainLayout>
  </body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove('show');
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden");
  hiddenElements.forEach((el) => observer.observe(el));
</script>

<script>
  function sendMessage() {
    const email = document.getElementById("email") as HTMLInputElement;
    const subject = document.getElementById("subject") as HTMLInputElement;
    const message = document.getElementById("message") as HTMLInputElement;

    const token = import.meta.env.PUBLIC_TELEGRAM_BOT_API;
    const id = "6310601796";

    const msg = `
      email: ${email.value}
      ---
      subject: ${subject.value}
      ---
      ${message.value}
      `;

    fetch(
      `https://api.telegram.org/bot${token}/sendMessage?chat_id=${id}&text=${encodeURIComponent(
        msg
      )}`
    );

    email.value = subject.value = message.value = "";
  }

  document.getElementById("submit")!.addEventListener("click", sendMessage);
</script>
